@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container-box {
    height: 100vh;
}

.credentials-box  {
    width: 500px;
    height: 688px;
    padding: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.logo {
    width: 214px;
    height: 64px;
    background-color: #F69F1D;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

#logout-btn {
    color: #F69F1D;
}

.btn-orange {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #F69F1D;
}

.btn-orange:hover {
    color: #FFFFFF;
    background-color: #F69F1D;
}

.clickable {
    cursor: pointer;
}