<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" >
        <form th:action="@{/profile}" th:object="${user}" method="post" onsubmit="removeReadonly()">
            <div class="row mb-3">
                <label for="username" class="col-sm-4 col-form-label fw-bold">Username</label>
                <div class="col-sm-6">
                    <input type="text"
                           th:field="*{username}"
                           name="username"
                           class="form-control-plaintext"
                           th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"
                           id="username"
                           placeholder="Username"
                           aria-required="true"
                           readonly>
                </div>
                <div class="col-sm-2 d-flex justify-content-end align-items-center">
                    <i class="bi bi-chevron-right clickable" onclick="toggleReadonly('username')"></i>
                </div>

                <div th:if="${#fields.hasErrors('username')}"
                     class="text-danger text-start"
                     aria-invalid="true">
                    <p th:errors="*{username}">Username error</p>
                </div>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-4 col-form-label fw-bold">Email</label>
                <div class="col-sm-6">
                    <input type="email"
                           th:field="*{email}"
                           name="email"
                           class="form-control-plaintext"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                           id="email"
                           placeholder="Email"
                           aria-required="true"
                           readonly>
                </div>
                <div class="col-sm-2 d-flex justify-content-end align-items-center">
                    <i class="bi bi-chevron-right clickable" onclick="toggleReadonly('email')"></i>
                </div>

                <div th:if="${#fields.hasErrors('email')}"
                     class="text-danger text-start"
                     aria-invalid="true">
                    <p th:errors="*{email}">Email error</p>
                </div>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-4 col-form-label fw-bold">Password</label>
                <div class="col-sm-6">
                    <input type="password"
                           th:field="*{password}"
                           name="email"
                           class="form-control-plaintext"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                           id="password"
                           placeholder="Password"
                           aria-required="true"
                           readonly>
                </div>
                <div class="col-sm-2 d-flex justify-content-end align-items-center">
                    <i class="bi bi-chevron-right clickable" onclick="toggleReadonly('password')"></i>
                </div>

                <div th:if="${#fields.hasErrors('email')}"
                     class="text-danger text-start"
                     aria-invalid="true">
                    <p th:errors="*{password}">Password error</p>
                </div>
            </div>
            <div class="row mb-3 justify-content-end">
                <button type="submit" class="btn btn-orange col-sm-4">Update</button>
            </div>
        </form>
        <script>
            function toggleReadonly(inputId) {
                const input = document.getElementById(inputId);
                if (input.readOnly) {
                    input.classList.remove('form-control-plaintext');
                    input.classList.add('form-control');
                    input.removeAttribute('readonly');
                    input.setAttribute('required', '');
                } else {
                    input.classList.remove('form-control');
                    input.classList.add('form-control-plaintext');
                    input.setAttribute('readonly', '');
                    input.removeAttribute('required');
                }
            }

            function removeReadonly() {
                const inputs = document.querySelectorAll('input[readonly]');
                inputs.forEach(input => input.removeAttribute('readonly'));
            }
        </script>
    </div>
</body>
</html>