<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" class="credentials-box d-flex flex-column align-items-center justify-content-around p-5 border border-black">
        <div class="logo" role="img" aria-description="Logo of Pay My Buddy">Pay My Buddy</div>
        <form th:action="@{/register}" th:object="${user}" method="post" class="d-flex flex-column align-items-center justify-content-around h-100 needs-validation" role="form">
            <div>
                <div class="form-floating mb-3">
                    <input type="text"
                           th:field="*{username}"
                           name="username"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"
                           id="username"
                           placeholder="Username"
                           aria-required="true"
                           required>
                    <label for="username">Username</label>
                    <div th:if="${#fields.hasErrors('username')}"
                         class="text-danger text-start"
                         aria-invalid="true">
                        <p th:errors="*{username}">Username error</p>
                    </div>
                    <div th:if="${not #fields.hasErrors('username')}"
                         id="usernameHelpBlock"
                         class="form-text text-start">
                        Your username must be 3-30 characters long and can only contain letters, numbers, underscores, points and dashes.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="email"
                           th:field="*{email}"
                           name="email"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                           id="email" placeholder="Email"
                           aria-required="true"
                           required>
                    <label for="email">Email</label>
                    <div th:if="${#fields.hasErrors('email')}"
                         class="text-danger text-start"
                         aria-invalid="true">
                        <p th:errors="*{email}">Email error</p>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password"
                           name="password"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                           id="password"
                           placeholder="Password"
                           aria-required="true"
                           required>
                    <label for="password">Password</label>
                    <div th:if="${#fields.hasErrors('password')}"
                         class="text-danger text-start"
                         aria-invalid="true">
                        <p th:errors="*{password}">Password error</p>
                    </div>
                    <div th:if="${not #fields.hasErrors('password')}"
                         id="passwordHelpBlock"
                         class="form-text text-start">
                        Your password must be 8-128 characters long, contain letters, numbers, special characters and must NOT begin with space or contain emoji.
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        </form>
    </div>
</body>
</html>